/* Burger menu */
.burger {
  width: 80px;
  height: 80px;
  cursor: pointer;
  position: relative;
  position: fixed;
  top: 56px;
  right: 20px;
  z-index: 600;
}
.burger .trigger {
  width: 64px;
  height: 20px;
}
.burger .trigger span {
  position: relative;
  width: 100%;
  height: 4px;
  transform: translateY(8px);
  display: block;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
}
.burger .trigger span::before,
.burger .trigger span::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 8px;
  background-color: #202426;
  display: block;
  border-radius: 8px;
}
.burger .trigger span::before {
  transform: translateY(-8px);
  animation: downAndTurnReverse 0.5s linear both;
}
.burger .trigger span::after {
  transform: translateY(8px);
  animation: upAndTurnReverse 0.5s linear both;
}
.burger .trigger.active span::before {
  animation: downAndTurn 0.5s linear both;
}
.burger .trigger.active span::after {
  animation: upAndTurn 0.5s linear both;
}

@keyframes downAndTurn {
  0% {
    transform: translateY(-8px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(45deg);
  }
}
@keyframes downAndTurnReverse {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-8px) rotate(0deg);
  }
}
@keyframes upAndTurn {
  0% {
    transform: translateY(8px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(-45deg);
  }
}
@keyframes upAndTurnReverse {
  0% {
    transform: translateY(0px) rotate(-45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(8px) rotate(0deg);
  }
}
